html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    overflow-y: hidden;
    font-family: 'Roboto', 'Quicksand', sans-serif;
}

/* SIDEBAR */
.aside {
    background-color: #0c133b;
    color: white;
    flex: 1 0 auto;
    padding-left: 20px;
    padding-top: 20px;
    min-width: 270px;
    max-width: 280px;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
}


.title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
}

nav {
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-wrapper > * > div {
    display: flex;
    gap: 5%;
    font-size: 12px;
    padding-left: 2%;
}
/* SIDEBAR */


.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;

}

/* HEADER */
header {
    background-color: #ebf4f1;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 48px;

}

.header-top {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left-side {
    display: flex;
    flex: 1;
    margin-right: 20%;
}

.search-container {
    display: flex;
    flex: 1;
    margin-left: 3%; 
}

#searchbar {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: rgb(235, 232, 232);
}

#searchbar {
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; 
}

#searchbar::placeholder {
    color: transparent
}

#searchbar:focus {
    box-shadow: 0 4px 8px #32d3e7;
    border-color: #66afe9;
}

  
.header-right-side{
    display: flex;
    gap: 20px;
}
.header-right-side p {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
}

.header-bottom {
    display: flex;
    flex: 1;
}

.bottom-left-side {
    display: flex;
    flex: 1 0 250px;
}

.bottom-left-side img {
    width: 80px;
    flex-shrink: 0;
}

.bottom-left-side > div > p:nth-child(1) {
    font-size: 15px;
    margin: 0;
    margin-top: 15px ;
    font-weight: bolder;
}

.bottom-left-side > div > p:nth-child(2) {
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    font-weight: bolder;
}

.bottom-right-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.bottom-right-side button {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: #0c133b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.bottom-right-side button:hover {
    background-color: #32d3e7;
}

.bottom-right-side button:focus {
    box-shadow: none; 
}

.bottom-right-side button:active {
    transform: translateY(2px);
}
/* HEADER */

/* CONTENT */
.projects-header-wrap {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;

}

.content {
    background-color: #d1e0db;
    flex: 1 1 auto;
    display: grid;
    overflow: auto;
    grid-template: 1fr 1fr / 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    height: 1px;

}

.projects-header-wrap {
    display: grid;
    /* overflow: auto; */
    min-width: 350px;
}

.projects {
    display: grid;
    padding: 25px;
    padding-top: 0px;
    grid-template: 1fr 1fr / repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 3%;
    padding-bottom: 100px;
}

.content::-webkit-scrollbar {
    display: none;
}
.content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.projects-header-wrap > h2 {
    margin: 25px 0px 10px 35px;
    font-size: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    /* padding: 10px; */
    /* margin: 10px 15px; */
    background-color: white;
    height: 250px;
    min-width: 300px;
    max-width: 600px;
    border-radius: 7px;
    border-inline-start: 10px solid #32d3e7;
}

.card > * {
    margin-left: 5%;
    margin-right: 5%;
}

.card > p {
    margin-top: 0;
}

.card-icons {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-right: 35px;
    gap: 25px;
}
.announcements-header-wrap {
    height: 400px;
}

.announcements-header-wrap > h2 {
    margin: 25px 0px 10px 15px;
    font-size: 20px;

}


.announcements-card {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    margin: 0px 20px 0px 5px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    font-size: 12px;
    padding: 20px;
}

.announcements-card div {
    border-bottom: 2px solid rgb(221, 207, 207);
}

.announcements div h4 {
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}

.announcements-card div:last-child {
    border-bottom: 0px;
}

.trending-header-wrap h2 {
    margin: 10px 0px 10px 15px;
    font-size: 20px;
}


.trending-card {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    margin: 0px 20px 0px 5px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    grid-auto-rows: 1fr;
    font-size: 12px;
    padding: 20px;
}

.trending-user div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trending-user h5 {
    font-size: 15px;
    margin: 0px 0 5px 10px;
}
.trending-card p {
    margin: 0 0 0 10px;
    color: #807b7b;
    font-size: 16px;
}

.trending-user {
    display: flex;

}

/* CONTENT */

