body {
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: 'Roboto', 'Quicksand', sans-serif;
}

/* SIDEBAR */
.aside {
    background-color: rgb(32, 65, 172);
    color: white;
    flex: 0 0 280px;
    padding-left: 20px;
    padding-top: 20px;
}


.title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
}

nav {
    padding-top: 25px;
    padding-bottom: 25px;
}

.aside > * > div {
    display: flex;
    gap: 5%;
    font-size: 12px;
    padding-left: 2%;
}
/* SIDEBAR */


.right-side {
    background-color: bisque;
    flex: 1;
    display: flex;
    flex-direction: column;

}

/* HEADER */
header {
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 48px;

}

.header-top {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left-side {
    display: flex;
    flex: 1;
    margin-right: 20%;
}

.search-container {
    display: flex;
    flex: 1;
    margin-left: 3%; 
}

#searchbar {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: rgb(235, 232, 232);
}

#searchbar {
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; 
}

#searchbar::placeholder {
    color: transparent
}

#searchbar:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #66afe9;
}

  
.header-right-side{
    display: flex;
    gap: 20px;
}
.header-right-side p {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
}

.header-bottom {
    display: flex;
    flex: 1;
}

.bottom-left-side {
    display: flex;
    flex: 1 0 250px;
}

.bottom-left-side img {
    width: 80px;
    flex-shrink: 0;
}

.bottom-left-side > div > p:nth-child(1) {
    font-size: 15px;
    margin: 0;
    margin-top: 15px ;
    font-weight: bolder;
}

.bottom-left-side > div > p:nth-child(2) {
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    font-weight: bolder;
}

.bottom-right-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.bottom-right-side button {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: rgb(48, 36, 214);
    color: white;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.bottom-right-side button:hover {
    background-color: rgb(38, 26, 204);
}

.bottom-right-side button:focus {
    box-shadow: none; 
}

.bottom-right-side button:active {
    transform: translateY(2px);
}
/* HEADER */

/* CONTENT */
.projects {
    grid-area: projects;
    background-color: aqua;
}

.announcements {
    grid-area: announcements;
    background-color: rgb(134, 95, 36);
}

.trending {
    grid-area: trending;
    background-color: blue;
}

.content {
    flex: 1 0 auto;
    height: 80%;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.projects {
    display: grid;
    overflow: auto;
    grid-template: 1fr 1fr / repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
}

.projects::-webkit-scrollbar {
    display: none;
}
.projects {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    background-color: white;
    height: 200px;
    min-width: 300px;
    max-width: 350px;
}

.card-icons {
    display: flex;
    justify-content: end;
}
/* CONTENT */

